*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
ENSEK Web API/ENSEK Web API/*.suo
ENSEK Web API/ENSEK Web API/*.user
ENSEK Web API/ENSEK Web API/*.userosscache
ENSEK Web API/ENSEK Web API/*.sln.docstates

# Build results
ENSEK Web API/ENSEK Web API/[Dd]ebug/
ENSEK Web API/ENSEK Web API/[Dd]ebugPublic/
ENSEK Web API/ENSEK Web API/[Rr]elease/
ENSEK Web API/ENSEK Web API/[Rr]eleases/
ENSEK Web API/ENSEK Web API/x64/
ENSEK Web API/ENSEK Web API/x86/
ENSEK Web API/ENSEK Web API/build/
ENSEK Web API/ENSEK Web API/bld/
ENSEK Web API/ENSEK Web API/[Bb]in/
ENSEK Web API/ENSEK Web API/[Oo]bj/
ENSEK Web API/ENSEK Web API/[Oo]ut/
ENSEK Web API/ENSEK Web API/msbuild.log
ENSEK Web API/ENSEK Web API/msbuild.err
ENSEK Web API/ENSEK Web API/msbuild.wrn
ENSEK Web API/ENSEK Web API/database.db

# Visual Studio 2015
.vs/